.header {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 64px;
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    min-height: 80px;
  }
}

.header__auth {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }
}

.header__about {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__auth-text {
  color: $basic-black;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }
}

.header__icon {
  @media (min-width: $tablet-width) {
    width: 32.5px;
    height: 32.5px;
  }
}
