.select__inner {
  position: relative;
}

.select__input {
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 11px;
  padding-right: 48px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
  // border-radius: 5px;
  border: 1px solid $basic-black;
  cursor: pointer;

  &::after {
    @include pseudo;

    right: 11px;
    top: 50%;
    margin-top: -3.5px;
    width: 15px;
    height: 9px;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 7'%3E%3Cpath d='M1 1l4.5 4L10 1' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover,
  &:focus {
    border: 1px solid $basic-black;

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 7'%3E%3Cpath d='M1 1l4.5 4L10 1' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
    }
  }
}

.select__list {
  @include list-none;

  position: absolute;
  left: 0;
  top: 45px;
  display: none;
  flex-direction: column;
  width: 100%;
  background: $basic-white;
  box-shadow: $select-shadow;
  // border-radius: 5px;
  overflow: hidden;
  z-index: 10;

  &.show {
    display: flex;
  }
}

.select__item {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 38px;
  padding-left: 19px;
  font-size: 16px;
  cursor: pointer;

  &--active {
    background-color: $basic-blue;

    &::after {
      @include pseudo;

      right: 16px;
      top: 50%;
      margin-top: -7px;
      width: 15px;
      height: 13px;
      // background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 8'%3E%3Cpath d='M1.395 3.486l2.534 2.939L7.419.94' stroke='%23f8281a' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 16'%3E%3Cpath d='M1 9.125L6.6 14 17 1' stroke='%23008272' stroke-width='2'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &:hover,
  &:focus {
    background-color: $basic-blue;
  }
}
