.top {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: min-content min-content;
    column-gap: 30px;
  }
}

.top__filters {
  margin-bottom: 14px;

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}
